<!DOCTYPE html>
<html>
<head>
  <title>Scraped Headlines</title>
</head>
<body>
  <h1>Scraped Headlines from ESPN</h1>
  <ul>
    <% headlines.forEach(function(headline) { %>
      <li><%= headline %></li>
    <% }); %>
  </ul>
</body>
</html>